.date-msg {
  display: block;
  margin-top: 12px;
  padding-left: 17px;
  height: 22px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  line-height: 22px;
  text-align: right;
  font-style: normal;
}
.section-detail-header {
  padding-bottom: 18px;
  margin-bottom: 24px;
  border-bottom: 1px solid #EDF1FC;;
}
.grid-demo {
  margin-top: 24px;
  margin-bottom: 16px;
}
.operate-wrap {
  padding: 30px 90px;
  padding-bottom: 90px;
  height: calc(100vh - 120px);
  background: #fff;
  overflow-y: scroll;
  .title-sub {
    width: 90px;
    height: 25px;
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    line-height: 25px;
    text-align: left;
    font-style: normal;
    margin-bottom: 16px;
  }
  .validate-title-sub {
    padding-left: 10px;
    position: relative;
    &::after {
      position: absolute;
      content: '*';
      color: var(--el-color-danger);
      font-size: 12px;
      font-weight: bold;
      left: 0;
      top: 4px;
    }
  }
  .title-sub-sub {
    font-size: 16px;
    margin-top: 22px;
  }
  .section {
    display: flex;
    .title-sub {
      width: 100%;
    }
    .section-sub:nth-child(2) {
      margin-left: 25px;
    }
    .section-sub {
     flex: 1;
    }

  }
  .title {
    position: relative;
    margin-bottom: 24px;
    padding-left: 11px;
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    line-height: 22px;
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 3px;
      height: 18px;
      background-color: #1890ff;
    }
  }
}
.num-light {
  color: rgba(52, 112, 255, 1);
  line-height: 22px;
}
.sum-line {
  margin-top: 24px;
}
.upload-msg {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #BFC4CD;
  line-height: 20px;
  text-align: left;
}
.bottom {
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 0;
  z-index: 99;
  padding: 12px 24px;
  background: #fff;
  border-top: solid 1px rgba(237, 241, 252, 1);
}
.section {
  :deep(.w-textarea) {
    height: 120px;
  }
  :deep(.w-tabs-content) {
    display: none;
  }
  :deep(.el-form-item) {
    flex-direction: column;
    // align-items: flex-start;
  }
  :deep(.el-form-item__label ) {
    justify-content: flex-start;
  }
  :deep(.el-form-item__label) {
    color: rgba(39, 42, 49, 1);
    font-weight: 500;
    font-size: 14px;;
  }
  :deep(.el-form-item--default) {
    margin-bottom: 24px;;
  }
  :deep(.el-textarea__inner) {
    height: 148px;
  }
}
.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.1);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}