@import "./transition";
@import "./sidebar";
@import "./reset";
@import "./dark";
::-webkit-scrollbar-thumb {
  width: 0px;
}
::-webkit-scrollbar {
  width: 0px;
}
.app-container {
  padding: 10px;
}

.search-container {
  padding: 18px 0 0 24px;
  background-color: var(--el-bg-color-overlay);
  border-radius: 4px;
}

.el-card.table-container {
  border: none;

  .el-card__header {
    padding: 0 26px;
    border: none;
  }

  .el-card__body {
    padding: 16px 26px 16px 24px;
  }

  .el-table th.el-table__cell {
    color: #000;
    background-color: #f2f3f5;
  }
}

.table-container > .el-card__header {
  padding: calc(var(--el-card-padding) - 8px) var(--el-card-padding);
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32 160 255);
  }
}

.w-btn-text[type="button"]:hover {
  background-color: transparent;
  color: blue;
}
.el-button {
  border-radius: 2px !important;
}

// el-card
.el-card {
  border: none !important;
}
