@import "./transition";
@import "./sidebar";
@import "./reset";
@import "./dark";
@import "./default.scss";

@font-face {
  font-family: myFontALHT;
  src: url('@/assets/iconfont/aliht.ttf')
}

@font-face {
  font-family: myNumberBold;
  src: url('@/assets/iconfont/DINAlternateBold.ttf')
}

::-webkit-scrollbar-thumb {
  width: 0px;
}
::-webkit-scrollbar {
  width: 0px;
}
// .app-container {
//   padding: 10px;
// }

.search-container {
  padding: 18px 0 0 24px;
  background-color: var(--el-bg-color-overlay);
  border-radius: 4px;
}

.el-card.table-container {
  border: none;

  .el-card__header {
    padding: 0 26px;
    border: none;
  }

  .el-card__body {
    padding: 16px 26px 16px 24px;
  }

  .el-table th.el-table__cell {
    color: #000;
    background-color: #f2f3f5;
  }
}

.table-container > .el-card__header {
  padding: calc(var(--el-card-padding) - 8px) var(--el-card-padding);
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32 160 255);
  }
}

.w-btn-text[type="button"]:hover {
  background-color: transparent;
  color: blue;
}
.w-button {
  border-radius: 2px !important;
}
.w-btn-size-default {
  height: 32px;
}

// el-card
.el-card {
  border: none !important;
}

.flex-base-between {
  display: flex;
  justify-content: space-between;
}
.flex-base-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-base-end {
  display: flex;
  justify-content: flex-end;
}

.flex-base-around {
  display: flex;
  justify-content: space-around;
}
.w-tabs {
  position: static;
}

/*修改穿梭组件样式*/
.el-transfer__buttons {
  padding: 0 16px!important;
}
.el-transfer__button {
  display: block;
}
.el-transfer__button:nth-child(2) {
  margin-left: 0!important;
  margin-top: 8px!important;
}
.el-transfer-panel {
  width: 234px!important;
}
.el-dialog__header {
  border-bottom: solid 1px #F0F0F0;
}
/**修改对话框默认样式*/
.el-dialog {
  padding: 0 !important;;
}
.el-dialog__header {
  padding-left: 26px;
  padding-bottom: 0;
}
.el-dialog__footer {
  padding: 8px 24px!important;
  border-top: solid 1px #F0F0F0;
}
.base-title {
  position: relative;
  margin: 16px 0;
  padding-left: 11px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  line-height: 22px;
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 18px;
    background-color: #1890ff;
  }
}
// 分页组件中的input
.w-pagination-jumper-input {
  width: 50px !important;
}
.w-form-item-label {
  color: #272A31!important;
  font-weight: bold!important;
}
.el-form-item__label {
  color: #272A31!important;
  font-weight: bold!important;
  &::before {
    padding-top: 3px;
  }
}
.el-dialog__header {
  height: 48px;
  color: #383B40;
  padding: 0 0 0 26px!important;
  font-size: 18px;
  font-weight: 600;
  line-height: 48px;;
}
.el-dialog__close {
  // color: #383B40!important;
  // font-size: 24px!important;
  // font-weight: bold !important;
}
/** w-date时间控件圆角 */
.w-picker-cell-range-start .w-picker-date {
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
}
.w-picker-cell-range-end .w-picker-date {
  border-radius: 2px;
  display: flex;
  justify-content: flex-end;
}
.w-picker-cell .w-picker-date {
  padding: 0;
}
.w-picker-cell-in-view .w-picker-date-value {
  color: #333!important;
  font-weight: normal;
}
// .w-picker-date-value {
//   box-sizing: content-box;
//   padding: 4px;
// }
.w-table-scroll-position-left .w-table-col-fixed-right-first::after {
  box-shadow: inset -6px 0 8px -3px rgba(0, 0, 0, 0.08);
}
// el-data时间控件圆角
.el-date-table-cell__text {
  font-size: 14px!important;
  border-radius: 2px!important;
}
.el-date-table td.start-date .el-date-table-cell {
  border-top-left-radius: 2px!important;
  border-bottom-left-radius: 2px!important;
}
.el-date-table td.end-date .el-date-table-cell {
  margin-right: 5px;
  border-top-right-radius: 2px!important;
  border-bottom-right-radius: 2px!important;
}
.el-date-table td .el-date-table-cell {
  height: 24px!important;
  padding: 0px 0!important;
  box-sizing: border-box!important;
}
.demo-form-inline {
  .el-select__wrapper {
    width: 132px;
  }
  .el-input__wrapper {
    width: 188px;
  }
}

// 暂时全局修改气泡弹窗的样式（上面的小箭头）
.el-popper__arrow::before {
  display: none;
}
.el-popover.el-popper {
  padding: 0!important;
  border: solid 1px #fff ;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.04);
}
.el-dialog__body {
  padding: 12px 24px;
}
.w-btn {
  margin-right: 8px;
}
.msg-tip{
 padding-bottom: 8px;
 color:red;
}
.w-scrollbar-track {
  z-index: 9;
}
.w-modal-body {
  padding: 16px 24px;
}
